body { 
	padding-top: 70px; 
}

.listado-problemas {
    margin: 2em;
}

.listado-problemas >ul > li {
    border: 1pt solid #ccc;
    padding: 2ex 2ex 1ex 2ex;
    list-style: none;
    margin-left: 1pt;
    background-color: #fff;
}

.actions {
    margin-top: 10px;
}

.tag {
    background-color: #bbb;
    color: #fff;
    margin-left: 2px;
    border-radius: 4px; 
    padding: 2px;
}

.estado {
    color: #fff;
    margin-left: 2px;
    border-radius: 4px; 
    padding: 2px;
}

.estado.abierto {
    background-color: #5cb85c;
}

.estado.cerrado {
    background-color: #d9534f;
}

.estado.publicado {
    background-color: #222;
}

.pregunta {
    margin-top: 2ex;
    padding: 2ex;
    background-color: #eee;
    list-style: none;
    margin-left: -1em;
}

.problema {
    margin-top: 2ex;
    padding: 2ex;
    background-color: #eee;
    list-style: none;
    margin-left: -1em;
}


.pregunta h3 {
    display: inline;
}

.solucion {
    background-color: #aaa;
}

.datos-pregunta {
    margin: 0em 1em 0em 2em;
}

.datos-pregunta > div {
    margin: 1em 0ex 0ex 0ex;
}

.botonera {
    position:relative;
    float:right;
}

.mover {
    position:relative;
    float: left;
}

.ng-invalid.ng-dirty {
border-color: #FA787E;
}

.ng-valid.ng-dirty {
border-color: #78FA89;
}

/* Lista drag & drop */
.nomargin {
  margin-top: 0px; margin-bottom: 0px;
}

.minimalList {
  min-height: 100px;
}
