body { 
	padding-top: 70px; 
}

.listado-problemas {
    margin: 2em;
}

.listado-problemas >ul > li {
    border: 1pt solid #ccc;
    padding: 2ex 2ex 1ex 2ex;
    list-style: none;
    margin-left: 1pt;
    background-color: #fff;
}

.actions {
    margin-top: 10px;
}

.tag {
    background-color: #bbb;
    color: #fff;
    margin-left: 2px;
    border-radius: 4px; 
    padding: 2px;
}

/* Campos del un documento en la lista de documentos */
.doc-label {
	line-height: 25px;
	margin-top: 3px;
	margin-bottom: 7px;
	font-size: 12pt;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.estado {
    color: #fff;
    margin-left: 2px;
    border-radius: 4px; 
    padding: 2px;
}

.estado.abierto {
    background-color: #5cb85c;
}

.estado.cerrado {
    background-color: #d9534f;
}

.estado.publicado {
    background-color: #222;
}

.pregunta {
    margin-top: 2ex;
    padding: 2ex;
    background-color: #eee;
    list-style: none;
    margin-left: -1em;
}

.problema {
    margin-top: 2ex;
    padding: 2ex;
    background-color: #eee;
    list-style: none;
    margin-left: -1em;
}


.pregunta h3 {
    display: inline;
}

.solucion {
    background-color: #aaa;
}


.datos-pregunta {
    margin: 0em 1em 0em 2em;
}

.datos-pregunta > div {
    margin: 1em 0ex 0ex 0ex;
}

.botonera {
    position:relative;
    float:right;
}

.botonera h5 {
	display: inline-block;
	position:relative;
	bottom:10px;
}

.mover {
    position:relative;
    float: left;
}

/* Validación */
.ng-invalid.ng-dirty {
border-color: #FA787E;
}

.ng-valid.ng-dirty {
border-color: #78FA89;
}

/* Lista drag & drop */
.nomargin {
  margin-top: 0px; margin-bottom: 0px;
}

.minimalList {
  min-height: 100px;
  border: dashed 1pt #ccc;
}
.minimalList:after {
    content: "Arrastrar y soltar aquí";
    color: #ccc;
}
.droppableList {
  padding-bottom: 70px;
  border: none;
}

.beingDragged {
        height: 70px;
        margin-bottom: .5em !important;
        border: 2px dotted #ccc !important;
        background: #ffc !important;
        list-style: none !important;
}

.accordion-toggle:hover {
    text-decoration: none;
    color: #428bca;  /* bootstrap @brand-primary */
}
