<h1>Documento {{id_doc}}
	<div class="botonera" ng-include="'partials/save-cancel-doc.html'"></div>
</h1>
<form> 
	<!-- Panel "acordeón colapsable" para los datos comunes del documento. Usa UI Bootstrap -->
	<div>
	<accordion>
		<accordion-group is-open="status.open">
			<accordion-heading>
				<h4>
					<i class="glyphicon glyphicon-align-left"></i>
					 Datos comunes del documento 
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</h4>
        	</accordion-heading>
 			<!-- Contenido del panel -->
			<div class="jumbotron">
				<label>Titulación</label><br>
   				<input size="99" placeholder="Introduzca la titulación correspondiente al documento..." ng-model="doc.titulacion"/><br><br>
 				<label>Asignatura</label><br>
    			<input size="99" placeholder="Introduzca la asignatura correspondiente al documento..." ng-model="doc.asignatura"/><br><br>
 				<label>Convocatoria</label><br>
			    <input size="99" placeholder="Introduzca la convocatoria correspondiente al documento..." ng-model="doc.convocatoria"/><br><br>
				<label>Fecha</label><br>
			    <input type="date" ng-model="doc.fecha"/><br><br>
				<h4>Instrucciones</h4>
			    <textarea cols="99" rows="4" placeholder="Introduzca unas breves instrucciones previas al documento..." 
						  ng-model="doc.instrucciones"/></textarea><br><br>
			</div>   
		</accordion-group>
  	</accordion>
	</div>

	<!-- Panel "acordeón colapsable" para los problemas del documento. Usa UI Bootstrap -->
	<div>
	<accordion>
		<accordion-group is-open="status.open">
			<accordion-heading>
				<h4>
				<i class="glyphicon glyphicon-indent-right"></i>
					Problemas del documento 
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</h4>
        	</accordion-heading>
 			<!-- Contenido del panel -->
			<div class="container" id="main">
				<div class="row">
					<div class="col-md-5">
						<h5><strong>Problemas añadidos al documento<small>  Arrastrar aquí</small></strong></h5>
          				<ol ui-sortable="sortableOptions" ng-model="doc.problemas" id="targetList" ng-class="{'minimalList':targetEmpty(), 'droppableList': !targetEmpty()}" class="connector">
                            <li class="alert alert-success nomargin" ng-repeat="problema in doc.problemas">{{problema.resumen}}</li>
         				 </ol>
        			</div>
       				 <div class="col-md-5">
						<div class="row">
							<div class="col-md-7">
								<h5><strong>Todos los problemas guardados</strong></h5>
							</div>
							<div class="col-md-5">
								Filtro: <input size="10" ng-model="query"><span class="btn tag" ng-click="clearQuery()">x</span> <!--TODO: No hace caso la X -->
							</div>
						</div>
          				<div ui-sortable="sortableOptions" id="sourceList" ng-model="problemas_bd" ng-class="{'minimalList':sourceEmpty()}" class="connector">
							<div class="alert alert-warning nomargin" ng-repeat="problema in problemas_bd | filter:query">{{problema.resumen}}</li>
							<!--TODO: Añadir TAGS-->
          				</div>
        			</div>
				</div>
			</div>
		</accordion-group>
  	</accordion>
	</div>
</form>

<!-- Botones Cancelar, Guardar -->
<div class="botonera" ng-include="'partials/save-cancel-doc.html'"></div>
