<h1>Documento {{id_doc}}</h1>
<form> 
	<!-- Panel "acordeón colapsable" para los datos comunes del documento. Usa UI Bootstrap -->
	<div>
	<accordion>
		<accordion-group is-open="status.open">
			<accordion-heading>
				<h4>
					<i class="glyphicon glyphicon-align-left"></i>
					 Datos comunes del documento 
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</h4>
        	</accordion-heading>
 			<!-- Contenido del panel -->
			<div class="jumbotron">
				<label>Titulación</label><br>
   				<input size="99" placeholder="Introduzca la titulación correspondiente al documento..." ng-model="doc.titulacion"/>
    			<div class="botonera">
        			<button class="btn" ng-click="sendDoc(doc)">Guardar</button>
        			<span class="btn"><a href="#/list-doc">Cancelar</a></span>
    			</div><br><br>
 				<label>Asignatura</label><br>
    			<input size="99" placeholder="Introduzca la asignatura correspondiente al documento..." ng-model="doc.asignatura"/><br><br>
 				<label>Convocatoria</label><br>
			    <input size="99" placeholder="Introduzca la convocatoria correspondiente al documento..." ng-model="doc.convocatoria"/><br><br>
				<label>Fecha</label><br>
			    <input type="date" ng-model="doc.fecha"/><br><br>
				<h4>Instrucciones</h4>
			    <textarea cols="99" rows="4" placeholder="Introduzca unas breves instrucciones previas al documento..." 
						  ng-model="doc.instrucciones"/></textarea><br><br>
			</div>   
		</accordion-group>
  	</accordion>
	</div>

	<!-- Panel "acordeón colapsable" para los problemas del documento. Usa UI Bootstrap -->
	<div>
	<accordion>
		<accordion-group is-open="status.open">
			<accordion-heading>
				<h4>
				<i class="glyphicon glyphicon-indent-right"></i>
					Problemas del documento 
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</h4>
        	</accordion-heading>
 			<!-- Contenido del panel -->
		</accordion-group>
  	</accordion>
	</div>
	<!-- Botones Cancelar, Guardar -->
	<div class="botonera">
		<button class="btn" ng-click="sendProblem(problema)">Guardar</button>
		<span class="btn"><a href="#/list-doc">Cancelar</a></span>
	</div>
</form>
