<h2>Documento {{id_doc}}
	<div class="botonera">
		<h5><button popover={{showPopEditar(doc.estado)}} popover-trigger="mouseenter" popover-placement="bottom" class="btn btn-primary" ng-click="editThisDoc()">Editar</button>
		<button class="btn btn-default" onClick="window.history.back()">Volver</button></h5>
	</div>
</h2>

<form>
<div class="jumbotron">
    <h3><strong>Información común del documento</strong></h3>
    <p>Titulación: {{doc.titulacion}}</p>
	<p>Asignatura: {{doc.asignatura}}</p>
	<p>Covocatoria: {{doc.convocatoria}}</p>
	<p>Fecha: {{doc.fecha}}</p>
	<p>Instrucciones: {{doc.instrucciones}}</p>
	<ul class="list-inline">	
		<li class="estado {{doc.estado}}">{{doc.estado}}</li>
	</ul>
</div>
<div class="problemas">
        <div ng-repeat="problema in doc.problemas" class="panel panel-default">
        	<div class="panel-heading">
				<h3>Problema {{problema.posicion}} </h3>
			</div>
			<div class="panel-body">
	        	<p class="enunciado">{{problema.resumen}}</p>
			</div>
        </div>
</div>
</form>
