<h1>{{problema.resumen}}
    <div class="botonera" ng-include src="'partials/save-cancel-problem.html'"></div>
</h1>
<!-- 
  Formulario, realmente no se maneja como tal (no tiene botón "submit" ni acción asociada),
  sino que cada entrada del mismo (textarea, input, button o lo que sea), lleva una directiva
  de AngularJS gracias a la cual ocurre todo "semi-automáticamente". Estas directivas son:

    ng-model: declara una variable del $scope. El formulario se rellena automáticamente con el
              valor de esa variable, y si el usuario cambia algo del formulario, automáticamente
              esa variable cambia también.
    ng-click: declara una función a invocar cuando el usuario hace click en el elemento.
              Estas funciones se implementan en controller.js y se les puede pasar como
              parámetro cualquier variable del $scope. En concreto, el botón "Guardar"
              llama a la función sendProblema() pasándole como parámetro la variable problema, 
              la cual ya ha sido automáticamente actualizada con lo que el usuario 
              haya estado poniendo en el formulario, gracias a ng-model

  Los botones "Guardar" y "Cancelar" los repito al final de la página, para comodidad del usuario

  Además he introducido algunas clases específicas de jQueryUI que implementan funcionalidades
  muy interesantes, como la capacidad de reordenar listas por drag&drop. El usuario puede pulsar
  en cualquier parte de la pregunta (aunque he puesto un icono en su esquina superior izquierda
  para que quede más claro), y moverla a otra posición. jQuery automáticamente actualiza el
  array de preguntas (y Angular actualiza el display porque han cambiado los datos del modelo).
  Ya que el título de cada pregunta es "Pregunta {{$index}}" siendo $index una variable de Angular
  que representa el índice del bucle, el resultado es que cuando una pregunta se mueve por arrastrar
  y soltar a primera posición, pasa a llamarse "Pregunta 1" y todas las demás se renumeran convenientemente. 
  Por tanto no estoy usando para nada pregunta.posicion. El controlador sendProblem() que recibe el problema
  con su lista de preguntas, debería actualizar el campo posicion de cada pregunta según su lugar
  que ocupe en el array de preguntas (el cual recibe ya en el orden que el usuario haya elegido)

  También de jQueryUI son las clases ui-icon, y similares que sirven para mostrar pequeños iconos como
  el de la papelera para borrar, o el de las flechas para mover (hay más, la lista completa en 
  http://api.jqueryui.com/theming/icons/)

 -->
<form name="reviewForm" class="form-horizontal" role="form" novalidate>
     <div class="jumbotron">
        <div class="form-group" ng-class="{'has-error': reviewForm.resumen.$dirty && reviewForm.resumen.$invalid}">
           <label for="resumen" class="control-label col-sm-2">Resumen</label>
           <div class="col-sm-7">
              <input class="form-control" id="resumen" name="resumen" 
                    placeholder="Resumen de una línea..." ng-model="problema.resumen" required/>
           </div>
           <div ng-show="reviewForm.resumen.$dirty&& reviewForm.resumen.$invalid" class="help-block col-sm-3">
                 No puede estar vacío
           </div>
        </div>
        <div class="form-group">
           <label for="enunciado" class="control-label col-sm-2">Enunciado general</label>
           <div class="col-sm-7">
              <textarea rows="4" name="enunciado" class="form-control"
                    placeholder="Introduzca el enunciado que va antes de las preguntas..."
                    ng-model="problema.enunciado_general">
                </textarea>
           </div>
        </div> 
        <div class="form-group" ng-class="{'has-error': reviewForm.tags.$dirty && reviewForm.tags.$invalid}">
           <label for="tags" class="control-label col-sm-2">Tags</label>
           <div class="col-sm-7">
              <tags-input name="tags"
                    placeholder="Introduzca lista de tags separados por comas..."
                    ng-model="problema.tag_list" min-tags="1" min-length="1"
                    display-property="nombre">
                    <auto-complete source="getFilteredTags($query)" min-length="1"></auto-complete>
              </tags-input>
           </div>
           <div ng-show="reviewForm.tags.$dirty && reviewForm.tags.$error.required" class="help-block col-sm-3">
                Debe contener al menos un tag
           </div>
        </div>
     </div>
     <div class="preguntas">
         <div ui-sortable ng-model="problema.preguntas"> <!-- Todas las preguntas -->
             <div class="panel panel-default" ng-repeat="pregunta in problema.preguntas"> <!-- Cada pregunta -->
                  <div class="mover"><span class="ui-icon ui-icon-arrow-4"></span></div>
                  <div class="botonera">
                     <span class="btn btn-danger" ng-click="deleteQuestion($index)">
                       <span class="ui-icon ui-icon-trash"></span>
                     </span>
                  </div>
              <div class="panel-heading">Pregunta {{$index+1}}</div>
              <div class="panel-body"> <!-- Panel-formulario para editar una pregunta -->
                 <!-- Es necesario un ng-form que es como otro formulario interno
                      debido a que, como esto está dentro de un bucle, sin este truco 
                      varios elementos del formulario tendrían el mismo name y entonces
                      no se puede hacer la validación con cosas tipo name.$valid
                 -->
                 <ng-form name="formPregunta" class="form-horizontal" role="form">
                     <div class="form-group" ng-class="{'has-error': formPregunta.puntuacion.$dirty && formPregunta.puntuacion.$invalid}">
                         <label for="puntuacion" class="col-sm-2 control-label">
                             Puntuación
                         </label>
                         <div class="col-sm-2">
                             <input class="form-control" name="puntuacion" 
                               type="number" ng-pattern="/^[1-9]$/" min=1 max=9 size="2" ng-model="pregunta.puntuacion" required/>
                         </div>
                         <div ng-show="formPregunta.puntuacion.$dirty && formPregunta.puntuacion.$error.number" class="help-block col-sm-3">
                            No sé cuándo sale este error
                         </div>
                         <div ng-show="formPregunta.puntuacion.$dirty && formPregunta.puntuacion.$error.required" class="help-block col-sm-3">
                            No puede estar vacío
                         </div>
                         <div ng-show="formPregunta.puntuacion.$dirty && formPregunta.puntuacion.$error.pattern" class="help-block col-sm-5">
                           Puntuación no válida (ha de ser entre 1 y 9) 
                         </div>
                     </div>
                     <div class="form-group" ng-class="{'has-error': formPregunta.enunciado.$dirty && formPregunta.enunciado.$invalid}">
                         <label for="enunciado" class="col-sm-2 control-label">
                             Enunciado
                         </label>
                         <div class="col-sm-7">
                           <textarea id="enunciado" rows="3" name="enunciado"
                                placeholder="Introduzca el enunciado de la pregunta {{$index+1}}..." 
                                title="Enunciado" class="enunciado form-control" ng-model="pregunta.enunciado" required>
                            </textarea>
                        </div>
                        <div ng-show="formPregunta.enunciado.$dirty && formPregunta.enunciado.$error.required" class="help-block col-sm-3">
                           El enunciado no puede estar vacío
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="solucion" class="col-sm-2 control-label">
                           Solución
                       </label>
                       <div class="col-sm-7">
                            <textarea id="solucion" rows="3" name="solucion"
                                placeholder="Introduzca la solución de la pregunta {{$index+1}}..." 
                                title="Solución" class="form-control solucion" ng-model="pregunta.solucion">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="explicacion" class="col-sm-2 control-label">
                            Explicación
                        </label>
                        <div class="col-sm-7">
                            <textarea id="explicacion" rows="3" name="explicacion"
                                placeholder="Introduzca la explicación de la pregunta {{$index+1}}..."
                                title="Explicación" class="explicacion form-control" ng-model="pregunta.explicacion">
                            </textarea>
                        </div>
                    </div>
               </div>
           </div>
       </div>
        <div class="pregunta"> <!-- Una ultima "pseudo" pregunta para meter botones al final -->
            <button class="btn btn-success" ng-click="addQuestion()">Añadir pregunta</button>
            <div class="botonera" ng-include="'partials/save-cancel-problem.html'"></div>
        </div>
    </div>
</div>
</form>
