<p>Listado de ejercicios ({{problemas.length}} en total):</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        <!--Sidebar content-->
        Search: <input ng-model="query">
    </div>
    <div class="col-md-10">      
      <div class="listado-problemas">
        <ul>
          <li ng-repeat="problema in problemas | filter:query">
              Resumen: {{problema.resumen}}
              <div class="tags"><ul class="list-inline"><li ng-repeat="tag in problema.tags">{{tag}}</li></ul></div>
              <div class="actions"><a class="btn" href="#/edit/{{problema.id_problema}}">Ver/Editar</a><a class="btn" href="#/delete/{{problema.id_problema}}">Borrar</a></div>
         </li>
        </ul>
      </div>
    </div>
</div>
