<h1>Problema {{id_problema}}</h1>

<form>
<div class="jumbotron">
    <h2>Enunciado general</h2>
    <p>{{problema.enunciado_general}}</p>
    <div class="tags">
        <ul class="list-inline">
            <li class="tag" ng-repeat="tag in problema.tags.split(',')">{{tag}}</li> 
        </ul>
    </div>
</div>
<div class="preguntas">
        <div ng-repeat="pregunta in problema.preguntas" class="panel panel-default">
            <div class="panel-heading">Pregunta {{pregunta.posicion}}
                <div class="pull-right">[{{pregunta.puntuacion}} punto{{pregunta.puntuacion>1?"s":""}}]</div>
            </div>
        <div class="panel-body">
            <p class="enunciado">{{pregunta.enunciado}}</p>
            <p class="solucion">{{pregunta.solucion}}</p>
            <p class="explicacion">{{pregunta.explicacion}}</p>
        </div></div>
</div>
<span class="btn"><a href="#/list">Volver</a></span>
</form>
