<div class="containeri-fluid">
    <h2>Problema: {{problema.resumen}} <!-- TODO: truncate filter -->
        <div class="botonera">
          <button ng-controller="ProblemListCtrl" problema={{problema.id_problema}} hide-dialog-buttons={{hideDialogButtons(problema)}} ng-really-message={{getDialogMsgEdit(problema)}} ng-really-click="editProblem(problema.id_problema)" ng-click="mightEditProblem(problema)" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</button>
          <button class="btn btn-default" onClick="window.history.back()"><i class="fa fa-mail-reply"></i> Volver</button>
        </div>
    </h2>

    <div class="tags">
        <ul class="list-inline">
            <i class="fa fa-tags"></i><li class="tag" ng-repeat="tag in problema.tags.split(',')">{{tag}}</li> 
        </ul>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" ng-hide="!problema.enunciado_general">
                <div class="panel-body">
                    <div  ng-bind-html="problema.enunciado_general"></div>
              </div>
            </div>
            <div class="preguntas">
                <div ng-repeat="pregunta in problema.preguntas" class="panel panel-default">
                    <div class="panel-heading">Pregunta <span ng-hide="problema.preguntas.length==1">{{pregunta.posicion}}</span>
                        <div class="pull-right">[{{pregunta.puntuacion}} punto{{pregunta.puntuacion>1?"s":""}}]</div>
                    </div>
                    <div class="panel-body">
                        <pre class="bg-info">{{pregunta.enunciado}}</pre>
                        <pre class="bg-danger" ng-show="pregunta.solucion">{{pregunta.solucion}}</pre>
                        <pre class="bg-warning" ng-show="pregunta.explicacion">{{pregunta.explicacion}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
